/* Semantic elements are: */

/* Head 
    title
*/

/* Body
    nav (header (h1-h5), a href);
    hr;
    figure (img src, figcaption);
    section(h1, p (em))
    section(h1, p (em))
    article (blockquote, figure [img src, figcaption])
    aside (h4, p)
    figure (img src, figcaption)
    details (summary, p)
    section(table [tr (th), tr (td)])
    footer(p)
*/
body {
    background-image: url("../images/hadron_collider.jpg");
    background-attachment: fixed;
    color: orange;
}

nav header {
    display: flex;
    justify-content: flex-start; 
    gap: 20px;

    text-align: center;
}

nav header h1 {
    background-color: white;
    font-style: italic;
}

nav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    text-shadow: 0px 0px 15px #debb84;
}

section {
    text-align: justify;
}

section figure {
    float: right;
    
}

img {
    height: 300px;
    object-fit: cover;
}

aside {
    float: right;
}

details {
    color: red;
}
table {
    color: white;
    text-shadow: 0px 0px 15px #ffffff;
}

footer {
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-style: italic;
}